source https://api.nuget.org/v3/index.json

nuget FSharp.Core
nuget Microsoft.AspNet.SignalR.Core >= 2.2.3
nuget Microsoft.Owin >= 2.1.0 restriction: >= net452
nuget Microsoft.Owin.FileSystems >= 2.1.0 restriction: >= net452
nuget Microsoft.Owin.Host.HttpListener >= 3.0.1 restriction: >= net452
nuget Microsoft.Owin.Hosting >= 2.1.0 restriction: >= net452
nuget Microsoft.Owin.Security >= 2.1.0 restriction: >= net452
nuget Microsoft.Owin.StaticFiles >= 2.1.0 restriction: >= net452
nuget Newtonsoft.Json >= 9.0.1
nuget Owin >= 1.0 restriction: >= net452
nuget Microsoft.AspNet.SignalR.Client
nuget MSTest.TestAdapter
nuget MSTest.TestFramework 
nuget Selenium.WebDriver
nuget Selenium.Firefox.WebDriver